<div
  class="absolute bottom-0 left-[calc(50%-150px)] z-[9999] w-[300px]"
  (click)="toggleVisibility()"
>
  <div class="toggle-indicator"></div>
</div>

<p-carousel
  styleClass="w-full rounded-lg bg-black/20 backdrop-blur-lg pt-4 px-4"
  [value]="channels"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [showNavigators]="true"
  [showIndicators]="true"
>
  <ng-template let-channel pTemplate="item">
    <p-card
      [ngClass]="{ active: isCurrentChannel(channel) }"
      [style]="{ width: '13rem', overflow: 'hidden' }"
      (click)="selectChannel(channel)"
      styleClass="!bg-black/40"
    >
      <ng-template #header>
        <img
          [alt]="channel?.videos?.[0]?.thumbnails?.medium?.alt"
          class="w-full object-cover object-center"
          [src]="channel?.videos?.[0]?.thumbnails?.medium?.url"
        />
      </ng-template>
      <ng-template #title>
        <span class="text-primary/90">{{ channel.name }}</span>
      </ng-template>
      <ng-template #subtitle>
        <span class="text-white/50">{{ channel.videos.length }} videos</span>
      </ng-template>
    </p-card>
  </ng-template>
</p-carousel>
