<div class="relative h-screen w-full overflow-hidden bg-black">
  <!-- Regular Video Player -->
  @if (!currentChannel().videos[currentVideoIndex()].youtubeId) {
  <app-video-player
    [video]="currentChannel().videos[currentVideoIndex()]"
    [isPlaying]="isPlaying()"
    (playPause)="togglePlayPause()"
  />
  }

  <!-- YouTube Video Player -->
  @if (currentChannel().videos[currentVideoIndex()].youtubeId) {
  <app-youtube-player
    [videoId]="currentChannel().videos[currentVideoIndex()].youtubeId!"
    [isPlaying]="isPlaying()"
    [video]="currentChannel().videos[currentVideoIndex()]"
    (playPause)="togglePlayPause()"
    (videoEnded)="handleVideoEnded()"
    (videoError)="handleVideoError($event)"
  />
  }

  <!-- <app-channel-rail
    [channels]="mockChannels"
    [activeChannel]="currentChannel()"
    (channelSelect)="handleChannelSelect($event)"
  /> -->

  <app-channel-picker
    [channels]="mockChannels"
    [activeChannel]="currentChannel()"
    (channelSelect)="handleChannelSelect($event)"
  />
</div>

<p-toast />
