<div
  class="absolute z-20 right-4 bottom-20 flex flex-col gap-6 translate-x transition-all duration-300"
>
  <button
    (click)="handleLikeToggle($event)"
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    [attr.aria-label]="liked() ? 'Unlike' : 'Like'"
    title="Like"
  >
    <lucide-icon
      [img]="Heart"
      class="w-8 h-8"
      [ngClass]="liked() ? 'fill-red-500 text-red-500' : 'text-white'"
    />
  </button>
  <button
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    aria-label="Comment"
    title="Comment"
    (click)="handleCommentToggle($event)"
  >
    <lucide-icon [img]="MessageCircle" class="w-8 h-8 text-white" />
  </button>
  <button
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    aria-label="Share"
    title="Share"
    (click)="handleShareToggle($event)"
  >
    <lucide-icon [img]="Share2" class="w-8 h-8 text-white" />
  </button>

  <button
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    aria-label="Previous Video"
    title="Previous Video"
    (click)="handlePreviousVideo($event)"
  >
    <lucide-icon [img]="ChevronUp" class="w-8 h-8 text-white" />
  </button>

  <button
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    aria-label="Next Video"
    title="Next Video"
    (click)="handleNextVideo($event)"
  >
    <lucide-icon [img]="ChevronDown" class="w-8 h-8 text-white" />
  </button>

  <button
    class="p-2 transition-transform hover:scale-125 cursor-pointer"
    (click)="handleMuteToggle($event)"
    [attr.aria-label]="isMuted() ? 'Unmute' : 'Mute'"
    title="Toggle Mute"
  >
    @if (isMuted()) {
    <lucide-icon [img]="VolumeX" class="w-8 h-8 text-white" />
    } @else {
    <lucide-icon [img]="Volume2" class="w-8 h-8 text-white" />
    }
  </button>
</div>
