app-youtube-player {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  /* Hide YouTube logo and related videos */
  .ytp-chrome-top,
  .ytp-chrome-bottom {
    display: none !important;
  }

  /* Make sure the iframe takes up the full space */
  iframe {
    width: 100% !important;
    height: 100% !important;
  }

  /* Custom animation for loading spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
}

